$color:lightgray ;
$color2: solid black;
th{
    background-color:$color;
}
th, td {
    border: 1px $color2;
}
.center{
    border: 2px $color2;
}
p{
  ul{
    li{
      font-size: 17px;
    }
  }
}
%message {

    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}

.Thank {
    text-align: center;
    @extend %message;
    background-color: lightblue;
}
